body {
    background-color: black;
    color: white;
}

h1 {
    text-align: left;
    margin-left: 20px;
}

form {
    margin-left: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 200px;
}

button {
    margin-left: 20px;
}

input[readonly] {
    background-color: #f2f2f2;
}
